*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
background-image: radial-gradient(51% 156%, #FCC04C 57%, #F78C25 100%);
background-size: cover;
font-family: 'Montserrat', sans-serif;
}

nav {
  position: absolute;
  top: 30px;
  right: 15px;
  z-index: 1;
}

nav a {
  margin-left: 15px;
}

a:hover {
  cursor: pointer;
}

table {
  width: 18%;
  height: auto;
  border-radius: 5px;
  border-collapse: collapse;
  background-color: #A41000;
  color: white;
  box-shadow: 17px 23px 48px -15px rgba(0,0,0,0.54);

}

th {
  font-weight: bolder;
  font-size: 1.5em;
  float: left;
  padding-left: 5px;

}

tr {
  border-bottom: solid 5px rgba(255,255,255,0.2);
}


td:first-child {
  float: left;
  font-weight: bold;
  padding-left: 5px;

}

td:nth-child(2) {
  float: right;
  padding-right: 5px;
}

hr {
  border-color: #A45000;
  opacity: 0.2;
}

#header {
  position: relative;
  top: -3px;
  display: block;
  overflow: hidden;
  text-align: center;
  color: #A41000;
  font-family: 'Frijole', cursive;
  font-size: 3em;
}

#main-ad {
  position: relative;
}

#main-ad h2 {
  position: absolute;
  top: 5%;
  left: 23%;
  width: 18%;
  font-size: 3em;
  color: white;
}

#main-ad h2::after {
  content: " ©";
}
#main-ad h3 {
  color: white;
  font-size: 2em;
}

#main-ad img {
  display: block;
  margin: auto;
}

#main-ad table {
  position: absolute;
  left: 70%;
  top: 30%;
  z-index: 1;
  display: none;
}
#main-ad img:hover ~ table {
  display: inline-table;;

}

#product-description {
  width: 45%;
  float: left;
  margin-left: 10px;
  text-align: center;
}



#side-imgs {
  width: 45%;
  float: right;
  margin-right: 10px;
  text-align: center;
}

#side-imgs img {
  height: 200px;
  display: block;
  width: 200px;
  float: left;
  margin: 10px;
  border-radius: 25%;
}
