*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
background-image: radial-gradient(51% 156%, #FCC04C 57%, #F78C25 100%);
background-size: cover;
}

table {
  width: 15%;
  height: auto;
  border-radius: 5px;
  border-collapse: collapse;
  background-color: #A41000;
  color: white;
}

th {
  font-weight: bolder;
  font-size: 1.5em;
  float: left;

}

tr {
  border-bottom: solid 5px rgba(255,255,255,0.2);
  padding-left: 5px;
  padding-right: 5px;
}


td:first-child {
  float: left;
  font-weight: bold;

}

td:nth-child(2) {
  float: right;
}

#header {
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  padding:5px 10px;
  color: #A41000;
  font-family: 'Shojumaru', cursive;
}

#main-ad {
  position: relative;
}

#main-ad h2 {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 8%;
}

#main-ad h2::after {
  content: " ©";
}

#main-ad img {
  display: block;
  margin: auto;
}

#main-ad table {
  position: absolute;
  left: 75%;
  top: 30%;
  z-index: 1;
  display: none;
}
#main-ad img:hover ~ table {
  display: inline-table;;

}

#product-description {
  width: 45%;
  float: left;
  margin-left: 10px
}

#side-imgs {
  width: 45%;
  float: right;
  margin-right: 10px
}

#side-imgs img {
  height: 200px;
  width: auto;
  float: left;
  margin: 10px;
  border-radius: 25%;
}
